@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

body {

    font-family: Quicksand;
    background-color: white;
    color: black;

    margin-top: 5%;

}

h1 {

    font-family: Pacifico;

}

a {

    color: black;

}

.title-box {

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.35);
    position: absolute;
    padding: 5%;
    width: 250px;
    text-align: center;
    margin-left: 35%;
    border-radius: 5%;
    transition: 0.5s;

}

.title-box:hover {

    opacity: 100%;
    color: white;
    background-color: rgb(111, 209, 111);

}
